{% extends "base.html" %}

{% block content %}
<div id="bantuan">
<h2>Pertanyaan</h2>

<!--
<ul>
<li><a href="#daftar-toko">Saya adalah seorang distributor. 
        Bagaimana cara agar saya juga terdaftar di sini?</a></li>
</ul>
-->

<div id="daftar-toko" class="jawaban">
<h3>Saya adalah seorang distributor. 
        Bagaimana cara agar saya juga terdaftar di sini?</h3>
<p>Silakan kirim email ke fajran at ubuntu dot com, tuliskan bahwa Anda
adalah seorang distributor dan ingin mendaftarkan diri di situs ini.</p>
</div>

</div>
{% endblock %}
