{% extends "base.html" %}

{% block extraheaders %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/+media/juragan.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    var pos = new google.maps.LatLng({{ peta.y }}, {{ peta.x }});
    juragan.init($('#map'));
    juragan.show(pos);
});
</script>
{% endblock %}


{% block content %}

{% if peta %}
<div id="dekat">
<h2>Lokasi Terdekat</h2>
<p>Asal: {{ peta.alamat }}</p>
<p>Beberapa distributor Ubuntu terdekat:</p>
<ol>
    {% for toko in peta.dekat %}
    <li><span onclick="juragan.showToko({{ toko.id }});">{{ toko.nama }}</span> 
        [<a href="/toko/{{ toko.id }}/">info</a>]
        &raquo; {{ toko.alamat }}, {{ toko.kota }}, {{ toko.provinsi_nama }}</li>
    {% endfor %}
</ol>
<div id="map"></div>
</div>
{% endif %}

<h2>Cari Distributor</h2>

<div id="cari">
<form method="post" action="/cari/">
<p><strong>Lokasi Anda</strong>:</p>
<p><label>Alamat:</label> {{ form.alamat }}</p>
<p><label>Kota:</label> {{ form.kota }}</p>
<p><label>Provinsi:</label> {{ form.provinsi }}</p>
<p><input type="submit" value="Cari"/></p>
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {
    if (($('#map').length == 0) && navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {  
            url = '/lokasi/' + position.coords.latitude + ',' + position.coords.longitude + '/';
            $.getJSON(url, function(json) {
                $('#cari *[name="kota"]').get(0).value = json.kota;
                $('#cari *[name="alamat"]').get(0).value = json.alamat;
                $('#cari *[name="provinsi"]').get(0).value = json.provinsi;
            });
        });  
    };
});
</script>

{% endblock %}

