<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<title>Juragan Ubuntu</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" type="text/css" href="/+media/default.css" />
</head>
<body>

<div id="outer">

	<div id="header">
		<h1><span>Juragan</span>Ubuntu</h1>
		<div id="menu">
			<ul>
				<li class="first"><a href="#">homepage</a></li>
				<li><a href="#">recent articles</a></li>
				<li><a href="#">about us</a></li>
				<li><a href="#">contact us</a></li>
			</ul>
		</div>
	</div>

	<div id="inner">

		<div id="main">
			<div id="xbgA"></div>
	
			<div id="main_inner">

				<!-- Main start -->
	
				<h2><strong>bookish</strong> by nodethirtythree + fct</h2>
				<div class="content">
	
					<img src="images/pic.gif" class="cpic right" alt="" />					
					<p><strong>Bookish</strong>, a free, fully standards-compliant CSS template designed by <a href="http://www.nodethirtythree.com/">NodeThirtyThree</a> for <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>, released for free under the <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5</a> license. The photos in this design are from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use this template for anything as long as you link back to <a href="http://www.freecsstemplates.org/">my site</a>. Enjoy :)</p>
					<p>Be sure to check out some of my commercial work over at <a href="http://www.4templates.com/?aff=n33">4Templates</a>.</p>
				</div>
				<div class="foot"></div>
	
				<div class="divider"></div>
	
				<h3><strong>demonstration</strong> of tabulated data</h3>
				<div class="content">
					
					<table>
					<tr>
						<th class="first"><strong>post</strong> date</th>
						<th><strong>author</strong> name</th>
						<th><strong>entry</strong> title</th>
					</tr>
					<tr class="rowA">
						<td class="first"><span class="date">04.25.2008</span></td>
						<td><a href="#">Sam Jackson</a></td>
						<td><em><a href="#">Lobortis commodo metus vestibulum</a></em></td>
					</tr>
					<tr class="rowB">
						<td class="first"><span class="date">04.25.2008</span></td>
						<td><a href="#">Daniel Carter</a></td>
						<td><em><a href="#">Purus in eget odio in sapien</a></em></td>
					</tr>
					<tr class="rowA">
						<td class="first"><span class="date">04.25.2008</span></td>
						<td><a href="#">Trent O'Neill</a></td>
						<td><em><a href="#">Adipiscing blandit quisque eros</a></em></td>
					</tr>
					<tr class="rowB">
						<td class="first"><span class="date">04.25.2008</span></td>
						<td><a href="#">Jack Reznor</a></td>
						<td><em><a href="#">Cras lobortis commodo metus lorem</a></em></td>
					</tr>
					</table>
	
				</div>
	
				<div class="divider"></div>
				
				<div id="ccol1">
					<h3><strong>nullam</strong> sit amet</h3>
					<div class="content">
						<p><strong>Quisque eros cras</strong> lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque eros. Cras lobortis commodo metus lorem ipsum dolor sit amet nullam sed veroeros etiam augue nunc ante aliquam. Quisque augue tortor, facilisis sit etiam. <a href="#">Continued ...</a></p>
					</div>
				</div>
				
				<div id="ccol2">
					<h3><strong>nullam</strong> sit amet</h3>
					<div class="content">
						<p>Vestibulum vel purus. In eget odio in ante aliquam quisque etiam.</p>
						<ul>
						<li><a href="#">Lorem ipsum dolor sit</a></li>
						<li><a href="#">Amet nullam sed</a></li>
						<li><a href="#">Veroeros etiam augue</a></li>
						<li><a href="#">Nunc ante aliquam quisque</a></li>
						<li><a href="#">Augue tortor facilisis sit</a></li>
						<li><a href="#">More ...</a></li>
						</ul>
					</div>
				</div>
				
				<!-- Main End -->
				<div class="foot"></div>				
			</div>
	
		</div>
	
		<div id="side">
			<!-- Side start -->

			<h3><strong>lorem</strong> ipsum dolor</h3>
			<div class="content">
				<p>Vestibulum vel purus. In eget dolor nulla <a href="#">veroeros et nullam sed</a> veroeros etiam augue nunc ante aliquam. Quisque augue.</p>
				<div class="divider"></div>
				<p>In eget dolor nulla <a href="#">nullam sed etiam dolore sed</a> eroeros etiam augue nunc ante aliquam.</p>
				<div class="divider"></div>
				<p>Purus etiam in eget dolor nulla <a href="#">lorem ipsum dolor</a> augue nunc ante aliquam sed dolore nullam. Lorem ipsum dolor et sed etiam augue.</p>
			</div>
			
			<h3><strong>lorem</strong> ipsum dolor</h3>
			<div class="content">
				<ul>
					<li class="first"><a href="#">Lorem ipsum dolor sit</a></li>
					<li><a href="#">Amet nullam sed etiam</a></li>
					<li><a href="#">Veroeros etiam augue</a></li>
					<li><a href="#">Nunc ante aliquam quisque</a></li>
					<li><a href="#">Augue tortor facilisis sit</a></li>
					<li><a href="#">Veroeros etiam augue</a></li>
					<li><a href="#">Lorem ipsum dolor sit</a></li>
					<li><a href="#">Nunc ante aliquam quisque</a></li>
					<li><a href="#">Amet nullam sed etiam</a></li>
				</ul>
			</div>
				
			<!-- Side end -->
		</div>
		<div id="xbgB" class="foot"></div>
	</div>

</div>
<div id="outer2"></div>

<div id="footer">
	&copy; 2009 JuraganUbuntu. Design by <a href="http://www.nodethirtythree.com">NodeThirtyThree</a> + <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>
</div>

</body>
</html>
