{% extends "base.html" %}

{% block content %}

<h2>Cari Distributor</h2>

<div id="cari">
<form method="post" action="/cari/">
<p><strong>Lokasi Anda</strong>:</p>
<p><label>Alamat:</label> {{ form.alamat }}</p>
<p><label>Kota:</label> {{ form.kota }}</p>
<p><label>Provinsi:</label> {{ form.provinsi }}</p>
<p><input type="submit" value="Cari"/></p>
</form>
</div>

<script type="text/javascript">
if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {  
        url = '/lokasi/' + position.coords.latitude + ',' + position.coords.longitude + '/';
        $.getJSON(url, function(json) {
            $('#cari *[name="kota"]').get(0).value = json.kota;
            $('#cari *[name="alamat"]').get(0).value = json.alamat;
            $('#cari *[name="provinsi"]').get(0).value = json.provinsi;
        });
    });  
}
</script>

{% endblock %}

