{% extends "toko/base.html" %}

{% block extraheaders %}
<script type="text/javascript" src="/+media/gears_init.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/+media/juragan.js"></script>
{% if posisi %}
<script type="text/javascript">
$(document).ready(function() {
    var pos = new google.maps.LatLng({{ posisi.lat }}, {{ posisi.lng }});
    {% if dekat %}
    var dekat = new google.maps.LatLng({{ dekat.0.geo_lintang }}, {{ dekat.0.geo_bujur }});
    {% else %}
    var dekat = undefined;
    {% endif %}
    juragan.init($('#peta'));
    juragan.show(pos, dekat);
});
</script>
{% endif %}
{% endblock %}


{% block content %}
<div id="cari">

{% if posisi %}
<div id="dekat">
<h2>Distributor Terdekat</h2>
<p>Asal: {{ posisi.alamat }}</p>
<p>Beberapa distributor terdekat dengan lokasi Anda:</p>
<ol>
    {% for toko in dekat %}
    <li><span onclick="juragan.showToko({{ toko.id }});">{{ toko.nama }}</span> 
        [<a href="/toko/{{ toko.id }}/">info</a>]
        &raquo; {{ toko.alamat }}, {{ toko.kota }}, {{ toko.nama_provinsi }}</li>
    {% endfor %}
</ol>
<div id="peta"></div>
</div>
{% endif %}

<h2>Cari Distributor</h2>

<div id="cari">
<p><strong>Lokasi Anda</strong>: <span class="geo"></span></p>
<form method="post" action="/cari/">
<p><label>Alamat:</label> {{ form.alamat }}</p>
<p><label>Kota:</label> {{ form.kota }}</p>
<p><label>Provinsi:</label> {{ form.provinsi }}</p>
<p><input type="submit" value="Cari"/></p>
</form>
</div>

{% if not posisi %}
<script type="text/javascript">
var geolocation = undefined;
$(document).ready(function() {
    if (navigator.geolocation) {
        geolocation = navigator.geolocation;
    }
    else if (window.google && window.google.gears) {
        try {
            geolocation = google.gears.factory.create('beta.geolocation');
        }
        catch (e) { }
    }
    if (geolocation != undefined) {
        $('#cari .geo').html('<a href="#" onclick="deteksiPosisi(); return false;">deteksi posisi</a>');
    }
});
function deteksiPosisi() {
    if (geolocation == undefined) { return; }

    $('#cari .geo').html('mendeteksi posisi..');
    geolocation.getCurrentPosition(function(position) {  
        url = '/lokasi/?ll=' + position.coords.latitude + ',' + position.coords.longitude;
        $.getJSON(url, function(json) {
            var lokasi = json.lokasi;
            $('#cari *[name="kota"]').get(0).value = lokasi.kota;
            $('#cari *[name="alamat"]').get(0).value = lokasi.alamat;
            $('#cari *[name="provinsi"]').get(0).value = lokasi.provinsi;
            $('#cari .geo').html('posisi terdeteksi, akurasi '+position.coords.accuracy+'m');
        });
    });  
}
</script>
{% endif %}

</div>
{% endblock %}

