#cari form label {
    float: left;
    width: 70px;
}

#peta {
    width: 450px;
    height: 450px;
    margin: 20px 0 40px 0;
}

#dekat ol li span {
    cursor: pointer;
    text-decoration: underline;
}
#dekat ol li span:hover {
    text-decoration: none;
}

.gmnoprint .nama {
    font-size: 14px;
}
.gmnoprint p {
    margin: 0px !important;
}


#toko-info h1 {
    font-size: 16px;
}
#toko-info h1 a {
    color: inherit;
}
#toko-info h1 a:hover {
    background: inherit;
}

#toko #kontak li img {
    vertical-align: bottom;
    padding-right: 5px;
}
#toko #kontak li {
    line-height: 16px;
}
#toko #kontak p {
    margin: 0px;
}
#toko #kontak ul {
    margin-top: 10px;
}

#header h1 a {
    background: inherit;
    text-decoration: inherit;
    color: inherit;
}
#header h1 a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-bottom: 14px;
}

#bantuan .jawaban h3 {
    background: none;
    padding-left: 0px;
    text-transform: none;
    text-decoration: underline;
    margin: 0 0 5px 0;
    height: inherit;
}

#admin.tambah form label {
    float: left;
    width: 65px;
    text-align: right;
    margin-left: -75px;
    padding: 3px 10px 0 0;
}
#admin.tambah form fieldset > div {
    margin: 0 0 10px 70px;
}
#admin.tambah form fieldset > div p {
    margin: 0px;
}
#admin.tambah form fieldset > div.error ul.errorlist {
    color: red;
    margin: 0px;
}
#admin.tambah form fieldset > div.error ul.errorlist li {
    background: none;
    padding-left: 2px;
}
#admin.tambah form fieldset > div p.help {
    display: block;
    margin-top: 3px;
}
#admin.tambah form fieldset > div.error input {
    background: #FFFFBF;
    padding: 1px;
}
#admin.tambah form input[type="text"] {
    width: 250px;
}
#admin.tambah form p.koordinat input[type="text"] {
    width: 75px;
}
#admin.tambah fieldset {
    padding: 10px 5px;
    border-width: 1px 0 0 0;
}
#admin.tambah fieldset legend {
    padding: 0 5px;
}
#admin.tambah div.submit {
    background: #eee;
    margin: 50px 0 0 0;
    padding: 5px;
}
#admin.tambah div.submit p {
    text-align: right;
}

